<!DOCTYPE html>
<html ng-app="messages">
<head>
    <title>Todo App - with Node + Express + Angular + PostgreSQL</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="stylesheets/style.css" rel="stylesheet" media="screen">
    <script src="http://code.jquery.com/jquery-1.11.2.min.js" type="text/javascript"></script>
</head>
<body ng-controller="messageController">
<div class='navbar'>
    <p>
        <a href="/">Good Messages</a>
        | <a href="/add">Add message</a>
        | <a href="/approve">Approve messages</a>
        | <a href='/about'>About</a>
    </p>
</div>

<div class="container">

    <div class="message-form">
        <form>
            <div class="form-group">
                <input type="text" class="form-control input-lg" placeholder="author" ng-model="formData.author">
                <input type="text" class="form-control input-lg" placeholder="Enter text..." ng-model="formData.text">
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="createMessage()">Add Message</button>
        </form>
    </div>

    <br>


</div>

<!-- scripts -->
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.12/angular.min.js"></script>
<script src="javascripts/messages.js"></script>
</body>
</html>
