<!DOCTYPE html>
<html ng-app="messages">
<head>
    <title>Todo App - with Node + Express + Angular + PostgreSQL</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="stylesheets/style.css" rel="stylesheet" media="screen">
    <script src="http://code.jquery.com/jquery-1.11.2.min.js" type="text/javascript"></script>
</head>
<body ng-controller="messageController">
<div class='navbar'>
    <p>
        <a href="/">Good Messages</a>
        | <a href="/add">Add message</a>
        | <a href="/approve">Approve messages</a>
        | <a href='/about'>About</a>
    </p>
</div>

<div class="container">
    <!--<li><h3><input class="lead" type="checkbox" ng-click="deleteTodo(todo.id)">&nbsp;{{ mess.text }}</li></h3><hr>-->
    <!--<button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="createMessage()">-->
    <table>
        <tr ng-repeat="x in newData">
            <td>{{ x.id }}</td>
            <td>{{ x.author }}</td>
            <td>{{ x.text }}</td>
            <td><button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="approveMessage(x.id)">Approve</button></td>
            <td><button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="rejectMessage(x.id)">Reject</button></td>
        </tr>
    </table>

</div>

<!-- scripts -->
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.12/angular.min.js"></script>
<script src="javascripts/messages.js"></script>
</body>
</html>
