body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul {
  list-style-type: none;
  padding-left: 10px;
}

.container {
  max-width: 400px;
  background-color: #eeeeee;
  /*border: 1px solid black;*/
}

.header {
  text-align: center;
}
.navbar p {
  padding-bottom: 5pt;
  border-bottom: 1px solid darkgray;
}
.navbar a,span {
  padding-left: 10pt;
  padding-right: 10pt;
}
